# dependencias
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/
build/
dist/

# produccion
*.log

# variables de entorno (NUNCA subir secretos)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# sistema operativo
.DS_Store
Thumbs.db

# editores
.vscode/
.idea/
